

.project-box {
    margin-top: 20px;
    overflow: hidden;
}

.proj-box-inner {
    position: relative;
    width: auto; height: 225px;
    border-bottom: none;
    overflow: hidden;
}

.proj-box-inner::after {
    content: '';  /* Empty content for the pseudo-element */
    position: absolute;
    bottom: 0;     /* Position the block at the bottom of proj-box-inner */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);  /* Slightly transparent block */
    transform: translateY(100%);  /* Start with the block hidden below */
    transition: transform 0.3s ease;  /* Smooth transition when hovering */
}

.proj-box-inner:hover::after {
    transform: translateY(0);  /* Move the block over the element */
}



.colour-bar {
    background: rgb(244,0,255);
    background: linear-gradient(90deg, rgba(244,0,255,1) 0%, rgba(153,0,255,1) 50%, rgba(0,125,255,1) 100%);
    height: 10px; width: 100%;
    transition: background 2s ease;
}
.element:hover {
    background: linear-gradient(90deg, rgba(252,176,69,1) 0%, rgba(253,29,29,1) 50%, rgba(244,0,255,1) 100%);
}

.about-me {
    font-size: x-large;
    color: #dfdfdf; 
}

.thumbnail-container {
	width: 100%; height: 800px; position: absolute; top: 0;

}
.main-title {
    height: 800px; display: flex; justify-content: center; align-items: center; padding-left: 80px;
}

.title-text h1, .title-text h3 {
  color: #dfdfdf; 
}



.thumbnail-bg-container {
    position: absolute; top: 0; left: 0; width: 100%; height: 850px; overflow: hidden;
}

.thumbnail-bg {
	width: 100%; z-index: -100; position: absolute; height: auto; object-fit: cover;
}

.centred {
	text-align: center;
}

.thumbnail-img {
    position: relative; top: -645px; right: 290px; scale: 0.4; border-radius: 50px;
    border: 10px solid #181395;
    box-shadow: 20px 20px 30px rgb(24, 0, 109);
}



/*~~~Sidebar~~~*/
.sidebar {
    height: 100%; width: 0; position: fixed; z-index: 1111; top: 0; left: 0;
    background-color: #000000; overflow-x: hidden; transition: 0.5s; padding-top: 60px; 
}

.sidebar a {
	padding: 8px 8px 8px 32px; text-decoration: none; font-size: 25px; color: white; display: block; transition: 0.3s;
}

.sidebar a:hover {
	color: #f1f1f1;
}

.sidebar .closebtn {
	position: absolute; top: 0; right: 25px; font-size: 36px; margin-left: 50px;
}
  
.openbtn {
    font-size: 20px; cursor: pointer;
    background-color: #000000; color: white; padding: 8px 15px; border: none;
    position: fixed; top: 0; left: 0; z-index: 1112; transition: transform 0.5s ease;
}

.rotateButton {
    transform: rotate(-90deg);
}

.openbtnText {
    background-color: #000000; color: white; padding-left: 58px; border: none; 
	position: relative; top: 0; left: 0; z-index: 1109; height: 50px; width: 122px;
}

.openbtnText h3 {
    font-size: 20px; height: 45px; align-content: center;
}
  
.openSidebar {
    width: 250px;
}
  
.mainShift {
    margin-left: 250px;
}
  