/* The sidebar */
.sidebar {
    height: 100%; /* Full height */
    width: 0; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1111; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Dark background */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* Smooth transition effect */
    padding-top: 60px; /* Padding to push links down */
  }
  
  /* Sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Close button */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
/* Button to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 8px 15px;
    border: none;
    position: fixed; /* Keep the button fixed in the top-left */
    top: 0;
    left: 0;
    z-index: 1112; /* Make sure the button stays on top of the content */
}

.rotateButton {
    transform: rotate(90deg), 500ms; /* 90 degree rotation */
}

.openbtnText {
    background-color: #111;
    color: white;
    padding-left: 58px;
    border: none;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1109;
    height: 50px;
    width: 122px;
}

.openbtnText h3 {
    font-size: 20px;
    height: 45px;
    align-content: center;
}
  
  /* Expand the sidebar */
  .openSidebar {
    width: 250px;
  }
  
  /* Shift the main content */
  .mainShift {
    margin-left: 250px;
  }
  